<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <title>{{page.title}}</title>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title is-4">
                    {{site.title}}
                </h1>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="menu" class="navbar-menu">
            <div class="navbar-start">
                {% for item in site.data.navigation %}
                    <a href="{{ item.link }}" class="navbar-item {% if page.url == item.link %} has-text-dark {% endif %}">
                        {{ item.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>
    <div class="container">
        {{content}}
    </div>
    <script>
        const btnMenu = document.querySelector('.navbar-burger.burger')        
        const menu = document.getElementById('menu')
        btnMenu.onclick = function toggleMenu() {
            menu.classList.toggle('is-active')
            btnMenu.classList.toggle('is-active')
        }
    </script>
</body>
</html>